/* https://hipwallpaper.com/view/NvWhsk */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shippori+Mincho+B1:wght@800&display=swap');
body {
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
}

button:active {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}

li {
  list-style: none;
  line-height: 1.3125rem;
  border: 1.5px solid black;
  display: inline-block;
  max-width: 50%;
  word-break: break-all;
  border-radius: 50px;
  color: black;
  background-color: whitesmoke;
  margin: 0.1rem;
  padding: 0 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0);
  margin-left: -1rem;
  margin-right: 1.25rem;
}

/* 0. App.jsx */
#nonDesktopMainHeading {
  display: none;
}

#desktopMainHeading {
  text-align: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  margin: 0rem 0rem;
  padding: 1rem 0rem;
  margin-bottom: 0.8rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

#grid {
  display: grid;
  grid-template-areas:
    'tags form'
    'tags notes';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0;
  margin-top: 0.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

/* 1. NewNoteForm.jsx */
#form {
  grid-area: form;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0);

  background-size: 42px 42px;
  background-size: 42px 42px;

  padding: 1rem;
  border-radius: 0.5rem;
}

#inputTitle {
  border: 0;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

#inputTag {
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 0rem;
  width: 100%;
}

#inputTitle,
#inputTag,
#textareaContent {
  outline: none;
}

label {
  padding-left: 1.5rem;
  display: block;
}

#addTagButton:hover,
#tagRemoveButton:hover,
#submitButton:hover {
  scale: 1.1;
  background-color: rgb(173, 173, 173);
}

#addTagButton {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0rem;

  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 1.3rem;
  border: none;
  color: black;
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 1.5rem;
  border: 2px solid black;
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px rgba(0, 0, 0);
}

#tagRemoveButton {
  border: none;
  padding: 0 0;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-left: 0.2rem;
}

.inputTagSectionGrid {
  display: grid;
  grid-template-columns: minmax(95.5%, 95.5%) 1fr;
}

ul {
  margin-left: 0;
  margin-top: 0.5rem;
}

textarea,
input[type='text'] {
  font-family: Arial;
  font-size: 1.2rem;
}

#textareaContent {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
}

#submitButton {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  padding: 3px;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  width: 5rem;

  border: 2px solid black;
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px rgba(0, 0, 0);
}

/* 2. Tags.jsx */
#tags {
  grid-area: tags;
  margin-right: 0.8rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0);
  background-color: white;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

#individualTag {
  display: inline;
}

#allTagButton:hover,
#individualTagButton:hover,
#filteredTagButton:hover {
  scale: 1.1;
  background-color: rgb(173, 173, 173);
}

#allTagButton,
#individualTagButton,
#filteredTagButton {
  border: 2.5px solid black;
  background-color: whitesmoke;
  margin: 0.1rem;
  font-weight: bold;
  box-shadow: 1px 2px 1px;
}

/* 3. Notes.jsx */
#notes {
  grid-area: notes;
  background-image: url('../img/corkboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 6px rgba(0, 0, 0);
  border-radius: 0.5rem;
}

#notes-container {
  display: flex;
  flex-wrap: wrap;
}

.individualNote {
  grid-column: auto;
  display: inline;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.836);
  background-color: rgb(250, 255, 205);
  position: relative;
}

.individualNoteTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
}

.individualNoteDeleteButton:hover {
  scale: 1.1;
}

.individualNoteDeleteButton:active {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 2px;
}

.individualNoteDeleteButton {
  color: white;
  background-color: red;
  border: none;
  position: absolute;
  right: -0.5rem;
  top: -0.1rem;
  box-shadow: 3px 2px black;
}

.individualNoteContent {
  margin-top: 0px;
  margin-bottom: 3rem;
  font-size: medium;
}

.individualNoteTag li {
  display: inline;
  border: 1px solid grey;
  padding: 0rem 0.2rem;
  margin: 0rem 0.1rem;
  background-color: rgb(202, 202, 202);
}

.individualNoteTag {
  bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: small;
}

@media screen and (orientation: portrait) and (max-width: 740px) {
  /* 0. App.jsx */
  #desktopMainHeading {
    display: none;
  }

  #nonDesktopMainHeading {
    display: block;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0rem 0rem;
    padding: 1rem 0rem;
    margin-bottom: 0.8rem;
    background-color: whitesmoke;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

  #grid {
    display: grid;
    grid-template-areas:
      'form'
      'tags'
      'notes';
    grid-auto-flow: dense;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
  }

  /* 2. Tags.jsx */
  #tags {
    margin-bottom: 0.5rem;
    margin-right: 0;
    background-color: white;
  }
}
